@import "tailwindcss";

/* FONT DECLARATIONS */
@font-face {
    font-family: Chancery;
    src: url("./assets/fonts/Chancery.ttf");
}

@font-face {
    font-family: Parisienne;
    src: url("./assets/fonts/Parisienne.ttf");
}

@font-face {
    font-family: Alice;
    src: url("./assets/fonts/Alice.ttf");
}

/* THEME DECLARATIONS */
@theme {

    /* COLORS */
    --color-primary: #A50083;
    --color-secondary: #49044D;
    --color-text: #694B21;
    --color-btn-primary: #FEC677;
    --color-btn-secondary: #FEF7B3;
    --color-btn-border: #FEF8BF;
    --color-border: #9F6533;

    /* FONTS */
    --font-chancery: Chancery, serif;
    --font-parisienne: Parisienne, serif;
    --font-alice: Alice, serif;

}

@layer base {
    h1, h2 {
        @apply font-chancery
    }

    h3, h4, h5, h6 {
        @apply font-parisienne
    }

    p, a {
        @apply font-alice
    }
}

@layer components {
    .section {
        @apply p-20 w-full
    }

    .button-clip {
        clip-path: polygon(13% 0, 88% 0, 100% 50%, 88% 100%, 13% 100%, 0% 50%);
    }
}

@media (max-width: 1023px) {
    .section {
        @apply p-5 w-full
    }
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.bob-animation {
  animation: bob 3s ease-in-out infinite;
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.rotate-left-right {
  animation: rotateLeftRight 4s ease-in-out infinite;
}

@keyframes rotateLeftRight {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}